/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */
h1 {
  color:#93A7BA;
  font-size:85px;
  
}
/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif; 
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 0px 45px;
}

/* Write all remaining styles here */
.necklace {
  border: 5px solid #93A7BA;
  }
  h2 {
    color: #93A7BA;
    font-size:50px;
  }